/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilisation de Montserrat comme police principale */
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

/* Style pour le header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style pour le logo */
.logo img {
  max-width: 100px;
}

/* Style pour la liste de navigation */
.menu ul {
  list-style-type: none;
  display: flex;
}

/* Style pour les éléments de la liste */
.menu li {
  margin-right: 20px;
}

/* Style pour les liens dans la liste */
.menu a {
  text-decoration: none;
  color: #303030;
  transition: color 0.3s;
}

.menu a:hover {
  color: #384c6c;
}

/* Style pour la section avec l'image */
.image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.image .item {
  flex: 1;
}

.image img {
  max-width: 100%;
  height: auto;
}

/* Style pour les cartes */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  flex: 1 1 300px;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #262626;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
}

.small-desc {
  color: #452c2c;
  font-size: 1em;
}

/* Style pour la section de call to action */
.calltoaction {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

/* Style pour les titres */
h1, h2, h3 {
  margin-bottom: 10px;
}

/* Style pour les paragraphes */
p {
  margin-bottom: 15px;
  color: #666;
}

/* Style pour les boutons */
.button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #384c6c;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #1e3351;
}

/* Style pour la section avec la carte call to action */
.card1 {
  background-color: #dbdbdb;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 20px;
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

.header1 {
  display: flex;
  align-items: center;
}

.image1 {
  flex: 0 0 50px;
  margin-right: 20px;
}

.title1 {
  font-size: 1.5em;
  font-weight: 700;
  color: #262626;
}

.message1 {
  margin-bottom: 10px;
  color: #666;
}
.flex-item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



/* Form page Creer un CV */

.form {
  background: #fff;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.title span {
  position: absolute;
  width: 60px;
  height: 4px;
  background: #333;
  bottom: -10px;
  left: calc(50% - 30px);
}

.step {
  display: none;
}

.step.active {
  display: block;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.input-group {
  flex: 1;
  margin-right: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  margin-top: 20px;
  text-align: right;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.buttons button:hover {
  background-color: #555;
}

.buttons .submit-btn {
  background-color: #4caf50;
}

.buttons .submit-btn:hover {
  background-color: #45a049;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
